anypoint_studio/p/src/main/mule/p1_generate.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="p1_generateFlow" doc:id="483a9027-a8b4-4086-87a1-2b3251a21744" >
		<logger level="INFO" doc:name="START" doc:id="041b42e7-1a6c-4796-9fc9-637598d48ef1" message="STARTED p1_generateFlow" />
		<choice doc:name="code generator" doc:id="4eabe1b3-50f7-4c7f-a49c-eb69e7c60aad" >
			<when expression='#[attributes.queryParams.codetype=="ean"]'>
				<set-variable value='#[now() as String {format: "MMddhhmmssSSS"}]' doc:name="generated" doc:id="afc2e888-651c-4f44-8db4-857a400491e2" variableName="generated" />
			</when>
			<when expression='#[attributes.queryParams.codetype=="upc"]'>
				<set-variable value='#[now() as String {format: "MMddhhmmssSS"}]' doc:name="generated" doc:id="3f5d12fe-a953-4e0e-9f3e-8058d5c645b9" variableName="generated" />
			</when>
			<when expression='#[attributes.queryParams.codetype=="qr"]'>
				<set-variable value="#[uuid()]" doc:name="generated" doc:id="acdf6b49-8dd6-41c5-96c1-34e9ec89ba2e" variableName="generated" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="047df3a1-e1fe-4c20-aac3-0fefb4440b1f" />
			</otherwise>
		</choice>
		<http:request method="POST" doc:name="8083:POST/generate" doc:id="23a51433-ba7a-4fac-a0cf-e154fa4fc9b2" config-ref="HTTP_Request_config_to_8083" path="/${requester.path}">
			<http:headers><![CDATA[#[output application/java
---
{
	"codetype" : "upc"
}]]]></http:headers>
			<http:query-params><![CDATA[#[output application/java
---
{
	"codetype": attributes.queryParams.codetype,
	"stage": attributes.queryParams.stage,
	"code": vars.generated
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="response payload" doc:id="d5cdc4f6-d4af-40e9-8dce-6285369e4094">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"code": vars.generated as String
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="FINISH" doc:id="246ef128-0744-445c-9db5-79c4594c50ba" message="FINISHED p1_generateFlow" />
	</flow>
</mule>
