anypoint_studio/e/src/main/mule/1_qr_generator.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	
	
	<flow name="GenerateQRCodeFlow">
    <!-- Generare UUID -->
    <http:listener doc:name="Listener" doc:id="3d7f878d-5b3d-465d-a6fa-8693f96d5de2" config-ref="HTTP_Listener_config_8081" path="${listemer.path}"/>
		<set-variable variableName="uuid" value="#[uuid()]" />
    
    <!-- Generare QR code pentru UUID -->

    <!-- Alte pași pentru gestionarea entităților circulante -->
	</flow>
	
	</mule>
