anypoint_studio/e/src/main/mule/e1_generate.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	
	
	<flow name="e1_generateFlow" doc:id="b585dbf6-4751-4115-940c-1522f3a5e82b">
    <!-- Generare UUID -->
		<logger level="INFO" doc:name="START " doc:id="0b587a34-1472-4fc5-b08f-63b484944e62" message="STARTED e1_GenerateQRCodeFlow"/>
		<http:request method="POST" doc:name="8082:POST/generate" doc:id="86e259fd-cdd9-47e8-85bd-e1535cc1ae53" config-ref="HTTP_Request_configuration_to_8082" path="/${requester.path}">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"stage": attributes.queryParams.stage,
	"codetype": attributes.queryParams.codetype
}]]]></http:query-params>
		</http:request>
		<validation:validate-size doc:name="check code size " doc:id="19127c13-1599-4311-8370-a0759e09a5bc" value="#[payload.code]" min="12" max="36"/>
		<logger level="INFO" doc:name="FINISH" doc:id="972f867a-00a8-4a33-a388-609052d72b8c" message="FINISHED e1_GenerateQRCodeFlow"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="1f26fb79-ce67-4bfa-ba8e-58e1aee98f03" type="VALIDATION:INVALID_SIZE">
				<set-payload value='#["INVALID CODETYPE"]' doc:name="INVALID CODETYPE" doc:id="67dab657-5221-4dea-8a77-8359b98d5649" />
			</on-error-continue>
		</error-handler>
    
    <!-- Generare QR code pentru UUID -->

    <!-- Alti pași pentru gestionarea entităților circulante -->
	</flow>
	
	</mule>
