anypoint_studio/e/src/main/mule/e1_qr_generator.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	
	<flow name="e1_GenerateQRCodeFlow">
    <!-- Generare UUID -->
    <http:listener doc:name="8081:POST/generate" doc:id="3d7f878d-5b3d-465d-a6fa-8693f96d5de2" config-ref="HTTP_Listener_config_8081" path="${listener.path}"/>
		<logger level="INFO" doc:name="START " doc:id="0b587a34-1472-4fc5-b08f-63b484944e62" message="STARTED e1_GenerateQRCodeFlow"/>
		<set-variable value='#["/" ++ (attributes.queryParams.codetype default "")]' doc:name="requesterPath" doc:id="510bf59d-f31c-4816-8acd-3bf1150fcb28" variableName="requesterPath"/>
		<choice doc:name="Choice" doc:id="f40bdcee-348d-43cd-a4d2-f464bd2636f3" >
			<when expression='#[vars.requesterPath=="/ean"]'>
				<http:request method="POST" doc:name="ean p_stagetrack" doc:id="be2997b0-1afc-4967-9045-647ed6406ef9" config-ref="HTTP_Request_configuration_to_8082" path='#[vars.requesterPath]' responseTimeout="300000">
				</http:request>
			</when>
			<when expression='#[vars.requesterPath=="/upc"]'>
				<http:request method="GET" doc:name="upc p_stagetrack" doc:id="46cb8014-86b2-4a02-b910-d212310c277f" config-ref="HTTP_Request_configuration_to_8082" path="#[vars.requesterPath]" responseTimeout="300000"/>
			</when>
			<when expression='#[vars.requesterPath=="/qr"]'>
				<http:request method="GET" doc:name="qr p_stagetrack" doc:id="b9d84d8a-f6c9-400d-8fec-68211a1cd6a2" path="#[vars.requesterPath]" config-ref="HTTP_Request_configuration_to_8082" responseTimeout="300000"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="e1 DEFAULT" doc:id="9fc26764-fd09-426f-8030-63209f2a0ae4" message="e1 DEFAULT"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="FINISH" doc:id="972f867a-00a8-4a33-a388-609052d72b8c" message="FINISHED e1_GenerateQRCodeFlow"/>
    
    <!-- Generare QR code pentru UUID -->

    <!-- Alte pași pentru gestionarea entităților circulante -->
	</flow>
	
	</mule>
