anypoint_studio/e/src/main/mule/e2_identify.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="70a47d7e-40e2-478b-b8f7-b8b0201876ac" />
	<flow name="e2_identifierFlow" doc:id="5feedefd-28a1-487f-839d-b9c16c6ec4c2" >
		<logger level="INFO" doc:name="e2_identifierFlow START Log" doc:id="5109ea62-cc83-49d3-8997-78af113ea089" message="STARTED e2_identifierFlow"/>
		<http:request method="GET" doc:name="8082:GET/identify" doc:id="eac6f6a8-7af4-412b-94e8-90cfab98a3f2" config-ref="HTTP_Request_configuration_to_8082" path="/${requester.path2}">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"stage" : attributes.queryParams.stage,
	"code" : attributes.queryParams.code
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="e2_identifierFlow FINISH Log" doc:id="a8a84331-cc89-42e0-a65b-b3d912e47406" message="FINISHED e2_identifierFlow" />
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="818cc10d-dde1-400b-ac56-7bc259a7bd08" type="HTTP:INTERNAL_SERVER_ERROR">
				<set-payload value='#["INVALID CODE"]' doc:name="INVALID CODE" doc:id="5d982149-5e03-4a1e-ac14-3a960b13ae7e" />
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
