anypoint_studio/e/src/main/mule/e3_setstage.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="e3_setstageFlow" doc:id="301a56c9-b971-4627-9fda-ef3f8566f3f8" >
		<logger level="INFO" doc:name="START " doc:id="8fb9c274-fbf5-4cdc-992a-166757bc361a" message="STARTED e3_setstageFlow"/>
		<http:request method="PUT" doc:name="8082:PUT/setstage" doc:id="0e364bd1-f735-49bf-8f2a-1812af4ab89c" config-ref="HTTP_Request_configuration_to_8082" path="${requester.path3}">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"code" : attributes.queryParams.code,
	"stage": attributes.queryParams.stage
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="FINISH" doc:id="b2849eae-80ed-4781-a1a1-988c5b9e3547" message="FINISHED e3_setstageFlow"/>
	</flow>
</mule>
